  body {
      font-family: Arial;
  }

  .subscribe-btn {
      border: none;
      background-color: black;
      color: white;
      padding: 10px 15px;
      font-weight: bold;
      border-radius: 50px;
      cursor: pointer;
      margin-bottom: 30px;
  }

  .is-subscribed {
      background-color: rgb(240, 240, 240);
      color: rgb(0, 0, 0);
  }

  .cost-input {
      font-size: 15px;
      padding: 10px;
  }

  .cal-btn {
      background-color: green;
      color: white;
      border: none;
      font-size: 15px;
      padding: 12px 15px;
      cursor: pointer;
  }


  .js-total-cost {
    color: black;
  }

    .error-total-cost {
    color: red;
  }